# Task_1

*На складе лежат разные фрукты в разном количестве.Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе*

In [20]:
def number_of_fruits(**kwargs):
    for name,value in kwargs.items():
        print (f'Fruit {name} quantity  {value} pcs')
    return print(f'Total number of fruits = {sum(kwargs.values())} pcs')

In [21]:
number_of_fruits(apple = 23,
    banana = 15,
plum = 5,
peach=16,
apricot=22
)

Fruit apple quantity  23 pcs
Fruit banana quantity  15 pcs
Fruit plum quantity  5 pcs
Fruit peach quantity  16 pcs
Fruit apricot quantity  22 pcs
Total number of fruits = 81 pcs

## Task_2

*Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions*

In [26]:
advertising_costs=[100, 125, -90, 345, 655, -1, 0, 200]
correct_costs=[i for i in advertising_costs if i>0]
print(f' The total costs are equal to :{sum(correct_costs)}')

 The total costs are equal to :1425

## Task_3

*Даны два списка: Дата покупки и Суммы покупок по датам.*

In [32]:
list_date=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05',
           '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
           '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
           '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
           '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
           '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
           '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
           '2021-10-26', '2021-12-09']
purchase_amounts=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 
                  5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
                  6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 
                  5015, 2008, 316, 6333, 5700, 2887]

### Task_3.1
*Найдите, какая выручка у компании в ноябре
Используйте list comprehensions*

In [90]:
list_Month = [i.split('-')[1] for i in list_date]
sales=0
list_sales_by_month={list_Month[i]:sales+purchase_amounts[i] for i in range(len(list_Month))}
# print(list_Month)
november_Revenue = [purchase_amounts[j]
                          for i in range(len(list_Month))
                          for j in range(len(purchase_amounts))
                          if i == j and list_Month[i] == '11']
print(november_Revenue)
sum=0
for i in november_Revenue:
    sum+=i
print(f'Выручка компании в ноябре составила {sum}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка компании в ноябре составила 25098

### Task_3.2
*Найдите выручку компании в зависимости от месяца.
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.*

In [97]:
def revenue_by_month(list_date:list,list_revenue:list)->dict:
    list_Month = [i.split('-')[1] for i in list_date]
    dict_Month = {}
    for i in range(len(list_Month)):
        if list_Month[i] in dict_Month.keys():
            dict_Month[list_Month[i]] += list_revenue[i]
        else:
            dict_Month[list_Month[i]] = list_revenue[i]
    return dict_Month

In [96]:
revenue_by_month(list_date,purchase_amounts)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}